<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.mf.model.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </resultMap>

    <resultMap id="PageResultMap" type="com.mf.model.Role" extends="BaseResultMap">
        <collection property="permissions" ofType="com.mf.model.Permission" column="roleId=id"
        select="com.mf.dao.PermissionMapper.findPermissionsByRoleId">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="description" jdbcType="VARCHAR" property="description"/>
            <result column="is_delete" jdbcType="BIT" property="isDelete"/>
            <result column="permission_code" jdbcType="VARCHAR" property="permissionCode"/>
            <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
            <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl"/>
            <result column="enable" jdbcType="BIT" property="enable"/>
            <result column="can_delete" jdbcType="BIT" property="canDelete"/>
            <result column="parent_permission_id" jdbcType="BIGINT" property="parentPermissionId"/>
        </collection>
    </resultMap>

    <select id="findRolesByUserId" resultMap="BaseResultMap">
      SELECT r.*
      FROM tbl_user_role_ref ur,
      tbl_role r
      WHERE ur.role_id = r.id AND ur.user_id = #{userId}
    </select>

    <select id="findRoleById" resultMap="PageResultMap">
    SELECT tr.*
    FROM tbl_role tr
    WHERE tr.id = #{id}
  </select>

    <select id="pageList" resultMap="BaseResultMap">
    SELECT *
    FROM tbl_role
  </select>

</mapper>