<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.mf.model.Student">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="last_modified_by" jdbcType="BIGINT" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="is_use" jdbcType="BIT" property="isUse"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="class_id" jdbcType="BIGINT" property="classId"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>
</mapper>